.elementor-1561 .elementor-element.elementor-element-2ee82539:not(.elementor-motion-effects-element-type-background), .elementor-1561 .elementor-element.elementor-element-2ee82539 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://drwfoundation.com/wp-content/uploads/2023/04/2-14-scaled.jpg");background-position:0px -188px;background-repeat:no-repeat;background-size:cover;}.elementor-1561 .elementor-element.elementor-element-2ee82539 > .elementor-background-overlay{background-color:transparent;background-image:radial-gradient(at center center, #000000 0%, rgba(0,0,0,0.67) 100%);opacity:0.62;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1561 .elementor-element.elementor-element-2ee82539 > .elementor-container{max-width:500px;}.elementor-1561 .elementor-element.elementor-element-2ee82539{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1561 .elementor-element.elementor-element-2ee82539 > .elementor-shape-bottom svg{height:14px;}.elementor-1561 .elementor-element.elementor-element-f6855ba > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-block-end:10px;}.elementor-1561 .elementor-element.elementor-element-75bc7349{text-align:center;}.elementor-1561 .elementor-element.elementor-element-75bc7349 img{border-style:none;}.elementor-1561 .elementor-element.elementor-element-6943563c{text-align:center;}.elementor-1561 .elementor-element.elementor-element-6943563c .elementor-heading-title{font-family:"Barlow", Sans-serif;font-size:17px;font-weight:500;text-transform:uppercase;letter-spacing:5px;color:rgba(255,255,255,0.83);}.elementor-1561 .elementor-element.elementor-element-17f73d58 > .elementor-widget-container{margin:18px 0px 20px 0px;}.elementor-1561 .elementor-element.elementor-element-17f73d58 .elementor-icon-wrapper{text-align:center;}.elementor-1561 .elementor-element.elementor-element-17f73d58.elementor-view-stacked .elementor-icon{background-color:rgba(255,255,255,0.85);}.elementor-1561 .elementor-element.elementor-element-17f73d58.elementor-view-framed .elementor-icon, .elementor-1561 .elementor-element.elementor-element-17f73d58.elementor-view-default .elementor-icon{color:rgba(255,255,255,0.85);border-color:rgba(255,255,255,0.85);}.elementor-1561 .elementor-element.elementor-element-17f73d58.elementor-view-framed .elementor-icon, .elementor-1561 .elementor-element.elementor-element-17f73d58.elementor-view-default .elementor-icon svg{fill:rgba(255,255,255,0.85);}.elementor-1561 .elementor-element.elementor-element-17f73d58 .elementor-icon{font-size:28px;padding:3px;border-width:2px 2px 2px 2px;}.elementor-1561 .elementor-element.elementor-element-17f73d58 .elementor-icon svg{height:28px;}.elementor-1561 .elementor-element.elementor-element-7c9c3cf > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-1561 .elementor-element.elementor-element-7c9c3cf{margin-top:-30px;margin-bottom:0px;}.elementor-1561 .elementor-element.elementor-element-37cb1ed6:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1561 .elementor-element.elementor-element-37cb1ed6 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#4D001D;}.elementor-1561 .elementor-element.elementor-element-37cb1ed6 > .elementor-element-populated >  .elementor-background-overlay{background-color:rgba(255,255,255,0.92);opacity:0.2;}.elementor-bc-flex-widget .elementor-1561 .elementor-element.elementor-element-37cb1ed6.elementor-column .elementor-widget-wrap{align-items:flex-end;}.elementor-1561 .elementor-element.elementor-element-37cb1ed6.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-end;align-items:flex-end;}.elementor-1561 .elementor-element.elementor-element-37cb1ed6 > .elementor-element-populated{border-style:solid;border-width:5px 5px 5px 5px;box-shadow:0px 14px 50px 0px rgba(0,0,0,0.1);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:79px 20px 194px 10px;--e-column-margin-right:20px;--e-column-margin-left:10px;padding:30px 30px 50px 30px;}.elementor-1561 .elementor-element.elementor-element-37cb1ed6 > .elementor-element-populated, .elementor-1561 .elementor-element.elementor-element-37cb1ed6 > .elementor-element-populated > .elementor-background-overlay, .elementor-1561 .elementor-element.elementor-element-37cb1ed6 > .elementor-background-slideshow{border-radius:25px 25px 25px 25px;}.elementor-1561 .elementor-element.elementor-element-37cb1ed6 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1561 .elementor-element.elementor-element-7452ee15{text-align:center;font-family:"Gilroy", Sans-serif;font-weight:400;line-height:30px;color:#ffffff;}.elementor-1561 .elementor-element.elementor-element-679a2126:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1561 .elementor-element.elementor-element-679a2126 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#300130;}.elementor-1561 .elementor-element.elementor-element-679a2126 > .elementor-element-populated >  .elementor-background-overlay{background-color:rgba(255,255,255,0.92);opacity:0.2;}.elementor-1561 .elementor-element.elementor-element-679a2126 > .elementor-element-populated{border-style:solid;border-width:5px 5px 5px 5px;border-color:#FFFFFF;box-shadow:0px 13px 20px 0px rgba(11.895162200927723, 0.4137440104994932, 0.4137440104994932, 0.15);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:-9px -9px -9px -9px;--e-column-margin-right:-9px;--e-column-margin-left:-9px;padding:79px 30px 66px 030px;}.elementor-1561 .elementor-element.elementor-element-679a2126 > .elementor-element-populated, .elementor-1561 .elementor-element.elementor-element-679a2126 > .elementor-element-populated > .elementor-background-overlay, .elementor-1561 .elementor-element.elementor-element-679a2126 > .elementor-background-slideshow{border-radius:25px 25px 25px 25px;}.elementor-1561 .elementor-element.elementor-element-679a2126 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1561 .elementor-element.elementor-element-49e5c4cf{width:var( --container-widget-width, 100.001% );max-width:100.001%;--container-widget-width:100.001%;--container-widget-flex-grow:0;font-family:"Gilroy", Sans-serif;font-weight:400;line-height:30px;color:#ffffff;}@media(max-width:1024px){.elementor-1561 .elementor-element.elementor-element-2ee82539:not(.elementor-motion-effects-element-type-background), .elementor-1561 .elementor-element.elementor-element-2ee82539 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0px 0px;}.elementor-1561 .elementor-element.elementor-element-37cb1ed6 > .elementor-element-populated{margin:30px 10px -30px 20px;--e-column-margin-right:10px;--e-column-margin-left:20px;}}@media(max-width:767px){.elementor-1561 .elementor-element.elementor-element-2ee82539:not(.elementor-motion-effects-element-type-background), .elementor-1561 .elementor-element.elementor-element-2ee82539 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0px 0px;}.elementor-1561 .elementor-element.elementor-element-2ee82539 > .elementor-shape-bottom svg{height:6px;}.elementor-1561 .elementor-element.elementor-element-75bc7349 img{width:50px;}.elementor-1561 .elementor-element.elementor-element-6943563c .elementor-heading-title{font-size:13px;}.elementor-1561 .elementor-element.elementor-element-17f73d58 > .elementor-widget-container{margin:100px 0px 20px 0px;}.elementor-1561 .elementor-element.elementor-element-7c9c3cf{margin-top:-100px;margin-bottom:0px;}.elementor-1561 .elementor-element.elementor-element-37cb1ed6 > .elementor-element-populated{margin:10px 10px 10px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;}.elementor-1561 .elementor-element.elementor-element-679a2126 > .elementor-element-populated{margin:10px 10px 10px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;padding:40px 40px 40px 40px;}.elementor-1561 .elementor-element.elementor-element-49e5c4cf{text-align:center;}}@media(min-width:768px){.elementor-1561 .elementor-element.elementor-element-37cb1ed6{width:43.13%;}.elementor-1561 .elementor-element.elementor-element-679a2126{width:56.87%;}}@media(max-width:1024px) and (min-width:768px){.elementor-1561 .elementor-element.elementor-element-37cb1ed6{width:60%;}.elementor-1561 .elementor-element.elementor-element-679a2126{width:100%;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-REGULAR.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-REGULARITALIC.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-BOLD.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-BOLDITALIC.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-THIN.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: ;
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-SEMIBOLD.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-SEMIBOLDITALIC-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-MEDIUM.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-MEDIUMITALIC.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-HEAVY.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-HEAVYITALIC.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-BLACK.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-BLACKITALIC.ttf') format('truetype');
}
/* End Custom Fonts CSS */