.elementor-kit-1186{--e-global-color-primary:#8F005F;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-typography-primary-font-family:"Gilroy";--e-global-typography-primary-font-weight:700;--e-global-typography-secondary-font-family:"Gilroy";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Gilroy";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Gilroy";--e-global-typography-accent-font-weight:500;}.elementor-kit-1186 e-page-transition{background-color:#FFBC7D;}.elementor-kit-1186 a{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-kit-1186 h1{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-kit-1186 h2{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-kit-1186 h3{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-kit-1186 h4{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-kit-1186 h5{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-kit-1186 h6{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-kit-1186 button,.elementor-kit-1186 input[type="button"],.elementor-kit-1186 input[type="submit"],.elementor-kit-1186 .elementor-button{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1150px;}.e-con{--container-max-width:1150px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-REGULAR.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-REGULARITALIC.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-BOLD.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-BOLDITALIC.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-THIN.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: ;
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-SEMIBOLD.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-SEMIBOLDITALIC-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-MEDIUM.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-MEDIUMITALIC.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-HEAVY.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-HEAVYITALIC.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-BLACK.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('http://drwfoundation.com/wp-content/uploads/2023/06/GILROY-BLACKITALIC.ttf') format('truetype');
}
/* End Custom Fonts CSS */